		html {
			position: relative;
		}
		
		html, body {
			min-height: 100%;
		}
		
		body {
			margin:0;
			min-width: 540px !important;
		}
		
		body > .container {
			padding:  15px;
		}
		
		#wrap {
			min-height: 100%;
			height: auto !important;
			margin: 0 auto ;
		}
		
		.navbar {
			background-color: #FF8B1C;
			margin: 0;
		}
		
		.logo {
			font-size: 180%;
			color: #fff !important;
		}
		
		.nav li a{
			color: #fff !important;
			font-size: 110%;
			font-weight: bold;
		}
		
		#maincontent {
			background-image: url("leslie.jpg");
			background-size: cover;
			height: 100%;
			min-height: 100%;
			padding-top: 80px;
		}
		
		.heading {
			text-align: center;
		}
		
		.title-header {
			text-align: center;
		}
		
		#first-header {
			margin: 80px 0 30px 0;
			font-size: 400%;
			color: #FF8B1C;
			background-color: rgba(253, 251, 251, 0.80);
			display: inline-block;
			padding: 8px;
			border-radius: 5px;
		}
		
		.article {
			color: #fff;
		}
		
		.board {
			background-color: rgba(255, 129, 28, 0.75);
			border-radius: 5px;
			padding: 25px;
		}
		
		blockquote {
			margin-bottom: 20px;
		}
	
		.description {
		
		}
		
		.solution {
			margin-bottom: 30px;
			font-size: 120%;
		}
	
		.articleButton {
			margin-bottom: 10px;
		}
		
		footer {
			height: 60px; 
			background-color: #FF8B1C;
			position: absolute;
			bottom: 0;
			border-top: 1px solid #fff;
			width: 100%;
			
		}
		
		.text-muted {
			padding-top: 17px;
			font-size: 140%;
			color: #fff;
		}
	
		.text-muted span{
			float:right;
			font-size: 80%;
			padding-top: 5px
		}
	
		.center {
			text-align: center;
		}
	
		.item-head {
			background-color: #FF8B1C;
			color: #fff;
		}
	
		.lg-item {
			font-size: 140%;
		}
	
		.issue {
		
		}
		
		small {
			color: #fff !important;
		}
	
	
	@media screen and (max-width: 542px) {
		footer {
			display:none;
		}
	}
	
	@media screen and (max-height: 657px) {
		footer {
			display: none;
		}
		#maincontent {
			background-image: initial;
		}
		body {
			background-color: #fff;
		}
	}
	
	.modal {
		color: black;
	}
	