		html {
			position: relative;
			/*background-color: #e2b98c;*/
		}
		
		html, body {
			min-height: 100%;
		}
		
		body {
			margin:0;
			min-width: 540px !important;
			background-color: #f7cc6f !important;
		}
		
		body > .container {
			padding:  15px;
		}
		
		#wrap {
			min-height: 100%;
			height: auto !important;
			margin: 0 auto ;
		}
		
		.navbar {
			background-color: #FF8B1C;
			margin: 0;
		}

		.navbar-brand {
			font-size: 180% !important;
		}


		.logo {
			font-size: 180%;
			color: #fff !important;
		}
		
		.nav li a{
			color: #fff !important;
			font-size: 110%;
			font-weight: bold;
		}
		
		#maincontent {
			background-color: #f7cc6f;
			background-size: cover;
			height: 100%;
			min-height: 100%;
			padding-top: 80px;
		}

		
		.heading {
			text-align: center;
		}
		
		.title-header {
			text-align: center;
		}
		
		#first-header {
			margin: 0 0 30px 0;
			font-size: 400%;
			color: #FF8B1C;
			background-color: rgba(253, 251, 251, 0.80);
			display: inline-block;
			padding: 8px;
			border-radius: 5px;
		}
		
		.article {
			color: #fff;
		}
		
		.board {
			background-color: rgba(255, 129, 28, 0.75);
			border-radius: 5px;
			padding: 25px;
		}
		
		blockquote {
			margin-bottom: 20px;
		}
	
		.description {
		
		}
		
		.solution {
			margin-bottom: 30px;
			font-size: 120%;
		}
	
		.articleButton {
			margin-bottom: 10px;
		}
		
		footer {
			height: 60px; 
			background-color: #FF8B1C;
			position: absolute;
			bottom: 0;
			border-top: 1px solid #fff;
			width: 100%;
			
		}

		.opening-script {
			color: #FF8B1C;
			text-transform: uppercase;
			font-weight: bold;
			background-color: rgba(253, 251, 251, 0.80);
			border-radius: 7px;
			box-sizing: border-box;
			padding: 10px;
			display: inline-block;
		}
		
		.text-muted {
			padding-top: 17px;
			font-size: 140%;
			color: #fff !important;
		}
	
		.text-muted span{
			float:right;
			font-size: 80%;
			padding-top: 5px
		}

		footer p {
			display: inline-block;
			margin-right: 20px;
			padding-top: 10px;
		}
	
		.center {
			text-align: center;
		}
	
		.item-head{
			background-color: #FF8B1C !important;
			color: #fff;
		}

	
		.lg-item {
			font-size: 140%;
		}
	
		.issue {
		
		}

		.list-group-item:first-child {
			background-color: #FF8B1C;
			color: #fff;
		}

		.list-group a {
		background-color: #FFFFF0;
		color: #333;
		}

		.lg-item:hover{
		background-color: #d3d3d3 !important;
		}
		
		small {
			
		}

		.button-group {
			text-align: center;
		}
		
		.group {
			margin: 20px 20px 0 20px;
		}
		
		.marginBottom {
			margin-bottom: 30px;
		}
		
		.button-style {
			width: 214px;
			color: #fff;
			background-color: #FF8B1C;
			font-weight: bold;
			
		}

		.box {
	      height: 150px;
	      margin-bottom: 15px;
	      background-color: #FF8B1C;
	      /*border-radius: 3px;*/
	      box-sizing: border-box;
	  	}

	  	.box h3 {
	  		margin:0;
	  		text-align: center;
	  		padding: 45px 5px 5px 0;
	  		color: #fff;
	  		font-size: 20px;
	  	}

	  	.box-contain a:hover {
	  		text-decoration: none !important;
	  	}

	
	
	@media screen and (max-width: 542px) {
		footer {
			display:none;
		}
	}
	
	@media screen and (max-height: 657px) {
		footer {
			display: none;
		}
		
	}
	
	.modal {
		color: black;
	}


	